---
navigation:
- text: O nas
  url: /
- text: Oferowane usługi
  url: /uslugi/
- text: Kontakt
  url: /kontakt/
---

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AVIM-Serwis - {{ page.title }} - wynajem apartamentów, sprzątanie, koszenie - Zakopane i okolice</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-xs-12">
            <img src="/images/logo.png" class="img-responsive center-block" alt="AVIM-Serwis">
        </div>
        <div class="col-md-5 hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-12 slogan">Sprzątanie</div>
                <div class="col-md-12 slogan">Utrzymywanie terenów zielonych</div>
                <div class="col-md-12 slogan">Odśnieżanie</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="menu">
                <ul class="nav nav-pills">
                    {% assign url = page.url|remove:'index.html' %}
                    {% for link in page.navigation %}
                    <li {% if url == link.url %}class="active"{% endif %}>
                        <a href="{{link.url}}">{{link.text}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center footer-note">
            &copy; {{ site.time | date: '%Y' }} AVIM-Serwis
        </div>
    </div>
</div>
</body>
</html>
